/* GENERAL STYLES */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr {
  border: 3px solid black;
}

/* APP.JS */

.App {
  /* display: block; */
  align-items: center;
  background-color: linear-gradient(to right, rgb(18, 18, 18), rgb(92, 92, 92));
}

/* NAV.JS */

.logo {
  height: 50px;
  width: 50px;
}

.navBarCover {
  justify-content: space-around;
  background-color: #343434;
  padding: 10px;
}

.navList {
  display: flex;
  list-style: none;
  gap: 100px;
  justify-content: center;
}

.navItem {
  text-decoration: none;
  justify-content: center;
  color: antiquewhite;
}

.navBarCover {
  display: flex;
  align-items: center;
}

.search {
  width: 200px;
  height: 30px;
  border-radius: 10px;
}

/* FOOTER.JS */

.footer {
  background-color: #343434;
  text-align: center;
  color: antiquewhite;
  padding: 10px;
}

.footerbody {
  align-items: center;
}
